body {
    background-color: brown;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
}

/* h1:hover {
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

}

.sketchpad {
    background-color: white;
	outline:2px solid #000;
	font-size: 0;
	height: 500px;
	width: 500px;
	padding: 0;
	border: none;
}

.box {
	border:none;
	display:inline-block;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}